## Again practice for Python

### basic modules practice

In [4]:
print("hi this is Muhammad Shahzeb")

a="hi, I am Muhammad Shahzeb"
print (a)

print(9**2/8/3+4-9)  # implementing the logic of PEMDAS

print(9//2)# will return integer value
print(9/2)  # will return floated value

x=12
y=12.5
z="HI How are you doing"
print(type(x),type(y),type(z))   #checking the type of variables

hi, I am Muhammad Shahzeb
-1.625
4
4.5
<class 'int'> <class 'float'> <class 'str'>

### input and conditional logics

In [9]:
name=input(" What is your name")
greetings="Welcome Mr or Mrs"
print(greetings, name)

 What is your name
Welcome Mr or Mrs

In [16]:
print(4==4)
print(4>6)
print(4<6)
print("HI this is Ahmed">"Hamid")
print(78>=78 and 78==78)
print(89==0 or 0<78)
print(89==0 and 0<78)

# print(78=78 or 78<79)#if else

True
False
True
False
True
True
False

In [22]:
age= int(input("Enter your age"))
if age > 5 and age <16:
    print("you are admitted to school")
elif age>16 and age < 18:
    print("you are admitted in college")
elif age>18:
    print("you are admitted in Uni")
else:
    print("you should be taken care off")

Enter your age17
you are admitted in college

### Loop

In [24]:
list_of_food=["Biryani","Coke","Raita","Salad"]
for food in list_of_food:
    print(food)

Biryani
Coke
Raita
Salad

In [25]:
for x in range(78,234):
    print(x)

78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233

In [27]:
weekdays=[1,2,3,4,5,6,7]
for d in weekdays:
    print(d)

1
2
3
4
5
6
7

In [39]:
weekdays=[1,2,3,4,5,6,7]
for d in weekdays:
    if d==3:break
    print(d)

1
2

In [40]:
weekdays=[1,2,3,4,5,6,7]
for d in weekdays:
    if d==5:continue
    print(d)

1
2
3
4
6
7

### Functions

In [47]:
def do_print():# print(12*"hi")
    print(12*"ha")
do_print()

def name(text):
    print("Welcome",text)

name("Muhammad Shahzeb")

hahahahahahahahahahahaha
Welcome Muhammad Shahzeb


### Libraries

In [52]:
import math
import statistics

a= 78
f=math.log(a)
print(f)

g=f*math.pi
print(g)


x=[23,5,56,7,6,12,34,45]
# x=statistics.mean(x)
# print(x)
print(statistics.mean(x)) # will print the mean of x
print(statistics.mode(x))

4.356708826689592
13.687004443757829
23.5
23

### Indexing

In [62]:
#slicing
name= "Muhammad Shahzeb"
a=name[0]
b=name[3]
c=name[0:len(name)]
print(a,b)
print(c)

d=name[0::15]#slicing  shows staritng and ending character
e=len(name)
print(d,e)
print(name[-1]) #start in reverse order
print(name[-4:-2])

M a
Muhammad Shahzeb
Mb 16
b
hz

In [65]:
#string Methods

name="Muhammad Shahzeb"
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.replace('u','o'))
print(name.count("a"))
print(name.find("Shah"))


friends="Shahan Hayyan Ali Osama Abdul Shoaib"
print(friends.split())

Muhammad shahzeb
muhammad shahzeb
MUHAMMAD SHAHZEB
Mohammad Shahzeb
3
9
['Shahan', 'Hayyan', 'Ali', 'Osama', 'Abdul', 'Shoaib']